.portfolio-details {
  width: 100%;
  height: auto;
  position: absolute;
  &__contents {
    width: 60%;
    margin: 0 auto 5.0rem auto;
  }
}

@include mq('sp') {
  .portfolio-details {
    margin-top: 7rem;
    &__contents {
      width: 90%;
    }
  }
}