.work-design-color {
  margin-top: 6rem;
  &__title {
    color: $off-white;
  }
  &__wrap {
    display: flex;
    width: 100%;
    margin: 8.0rem auto;
    justify-content: center;
  }
  &__details {
    margin: 0 2.0rem;
    p {
      text-align: center;
      padding-top: 0.6rem;
      font-size: 1.6rem;
    }
  }
  &__palet {
    width: 150px;
    height: 60px;
    margin-bottom: 0.6rem;
  }
  #palet1_bm {
    background-color: #EA4E38;
  }
  #palet2_bm {
    background-color: #222222;
  }
  #palet3_bm {
    background-color: #EAEAEA;
  }
  #palet1_egg {
    background-color: #FFB356;
  }
  #palet2_egg {
      border: 1px solid #eaeaea;
      background-color: #FFFFFF;
  }
  #palet3_egg {
    background-color: #BA4700;
  }
  #palet1_weather {
    background-color: #FFF3E6;
  }
  #palet2_weather {
    background-color: #636363;
  }
  #palet1_movie {
    background-color: #23589E;
  }
  #palet2_movie {
    background-color: #C71585;
  }
  #palet3_movie {
    background-color: #222222;
  }
}

@include mq('sp') {
  .work-design-color {
    &__wrap {
      display: block;
      width: 100%;
      margin: 5.0rem auto;
    }
    &__details {
      margin-bottom: 3.0rem;
    }
    &__palet {
      width:162px;
      margin: 0 auto;
      margin-bottom: 0.6rem;
    }
  }
}