.work-design-img {
  margin-top: 5rem;
  &__wrap {
    margin-bottom: 5.0rem;
    p {
      margin-bottom: 2.0rem ;
    }
  }
  &__wrap-img {
    width: 100%;
    &--right {
      margin-right: 2rem;
    }
  }
  &__page {
    color: $off-white;
  }
  &__responsive {
    display: flex;
    justify-content: space-between;
  }
  &__otm {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__otm-img {
    border: 1.5px solid rgb(202, 202, 202);
    margin: 0.8rem 0.5rem;
    width: 23%;
  }
  &__prev-work {
    display: table-row;
  }
  &__prev-work-img {
    width: 32%;
    margin: 0.4rem;
  }
  &__hangyoball {
    img {
      display: block;
      margin: 0 auto;
      width: 70%
    }
  }
  &__beyond {
    display: flex;
    justify-content: center;
  }
  &__wrap--right {
    margin-right: 2rem;
  }
}

@include mq('tab') {
  .work-design-img {
    &__prev-work-img {
      width: 48%;    
    }
  }
}

@include mq('sp') {
  .work-design-img {
    &__responsive {
      display: block;
    }
    &__otm {
      display: table-row;
    }
    &__otm-img {
      width: 100%;
      margin: 1.0rem 0;
    }
    &__prev-work-img {
      width: 100%;    
    }
    &__hangyoball {
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}