.identity-design-wrap {
  display: flex;
  width: 100%;
  margin: 8.0rem auto;
  justify-content: center;
}

@include mq('sp') {
  .identity-design-wrap {
    display: block;
    width: 100%;
    margin: 5.0rem auto;
  }
}