.work-contents {
  height: 100vh;
  width: 100%;
  display: flex;
  scroll-snap-align: start;

  &-otm {
    background-image : url('../../imgs/mountain.jpg');
    background-size: cover;
  }

  &-bm {
    background-color: #EA4E36;
    background-image: url('../../imgs/brushmap_logo_whitever.png');
    background-position: top 51% right 22%;
    background-size: 10%;
  }

  &-egg {
    background-position: top 51% right 22%;
    background-size: 10%;
    background-color: #ffb356;
    background-image : url('../../imgs/super_soft_boiled_egg.svg');
  }

  &-weather {
    background-position: top 51% right 22%;
    background-size: 10%;
    background-color: #fdf3e7;
    background-image : url('../../imgs/sunny.svg');
  }

  &-movie {
    background-color: #24589E;
    background-image : url('../../imgs/movie.png');
    background-position: top 51% right 22%;
    background-size: 10%;
  }

  &-japan {
    background-position: top 10% right 15%;
    background-image : url('../../imgs/worksinjapan_bg2.jpg');
    background-size: cover;
  }

  &-showcase {
    background-color: #5695c8;
    background-image: url('../../imgs/skillsshowcase_bglogo.png');
    background-position: top 51% right 22%;
    background-size: 20%;
  }

  &__left {
    width: 50%;
    height: 100vh;
    background-color: rgba($light-gray,0.8);
    padding: 5.0rem;
  }

  &__title {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 0.5rem;
  }

  &__num {
    font-size: $l-font;
  }

  &__category {
    font-size: 1.3rem;
  }

  &__border {
    background-color: #fff;
    height: 1px;
    opacity: 1;
  }
  
  &__product-wrap {
    transition: 0.2s;
    margin: 20vh 0;
    animation-name: example;
  }

  &__product-service {
    font-size: 2.4rem;
  }

  &__product-title {
    font-size: 5.0rem;
    margin: 1.0rem 0;
  }

  &__product-purpse {
    font-size: 2.0rem;
  }

  &__product-link {
    text-decoration: none;
  }

  &__viewdetails {
    margin-top: 3.0rem;
    width: 30%;
    color: #777;
    border-radius: 50px;
    background-color: #fff;
    height: 4.2rem;
    text-align: center;
  }

  &__viewdetails-text {
    align-items: center;
    line-height: 4.3rem;
  }

  &__viewdetails:hover {
    cursor: pointer;
    background-color: rgb(223, 223, 223);
  }
}

@include mq('tab') {
  .work-contents {
    &-bm {
      background-position: top 50% right 16%;
      background-size: 25%;
    }

    &-egg {
      background-position: top 50% right 16%;
      background-size: 25%;
    }

    &-weather {
      background-position: top 50% right 16%;
      background-size: 25%;
    }

    &-showcase {
      background-position: top 50% right 16%;
      background-size: 25%;
    }

    &__product-wrap {
      margin: 10vh 0;
    }

    &__product-service {
      font-size: 2.2rem;
    }
  
    &__product-title {
      font-size: 4.2rem;
    }
  
    &__product-purpse {
      font-size: 1.8rem;
    }

    &__viewdetails {
      width: 60%;
    }
  }
}

@include mq('sp') {
  .work-contents {
    &-bm {
      background-position: top 51% right 35%;
      background-size: 60%;
    }

    &-egg {
      background-position: top 51% right 35%;
      background-size: 70%;
    }

    &-weather {
      background-position: top 51% right 35%;
      background-size: 70%;
    }

    &-showcase {
      background-position: top 51% right 22%;
      background-size: 60%;
    }

    &__left {
      width: 75%;
      padding: 8.0rem 1.5rem;
    }

    &__num {
      font-size: 3.0rem;
    }
  
    &__category {
      font-size: 1.3rem;
    }

    &__product-service {
      font-size: 1.6rem;
    }
  
    &__product-title {
      font-size: 2.7rem;
    }
  
    &__product-purpse {
      font-size: 1.3rem;
    }
  }
}