.pagenation {
  position: fixed;
  top: 50%;
  right: 32px;
  transform: translateY(-50%);

  &__link {
    display: block;
    width: 13px;
    height: 13px;
    margin:1.3rem 0;
    border: 2px solid #fff;
    border-radius: 50%;
    transition: transform 0.2s;   
  }
  
  .active {
    background-color: #fff;
  }
}

@include mq('sp') {
  .work-pagenation {
    right: 2rem;

    &__link {
      width: 12px;
      height: 12px;
    }
  }
}