#about{
    width: 100%;
    height: auto;
    position: absolute;
    top: 8.0rem;

    .about__wrap {
        width: 80%;
        margin: 0 auto;

        .about__title__wrap {
            margin: 0 auto;
            font-size: 3.2rem;
            border-bottom: 1px solid $off-white;
            padding-bottom: .5rem;
            display: flex;
            align-items: baseline;
            justify-content: space-between;

            .about__num__title {
                display: flex;
                align-items: baseline;

                .about__contens__num {
                    color: $light-green;
                    font-size: 5.2rem;
                    margin-right: 2.0rem;
                }
            }
    
            .about__contents__category {
                font-size: 1.8rem;
            }
        }
    
        .contents__whiiam {
            width: 60%;
            margin: 20.0rem auto;
    
            #whoiam__name {
                margin-bottom: .5rem;
                font-size: 2.0rem;
                font-weight: 700;
            }
    
            #whoiam__text {
                word-break: break-word;
            }
        }
    
        .contents__passion__wrap {
            display: flex;
            margin: 12.0rem;
            justify-content: space-around;
    
            .contents__passion {
                text-align: center;
                width: 30%;
    
                .fas {
                    font-size: 5.0rem;
                    color: #fff;
                    background-color: $black;
                    padding: 2.0rem;
                    border-radius: 50%;
                }
    
                .passion__text {
                    word-wrap: break-word;
                }
    
                .passion__title {
                    font-size: 2.0rem;
                    margin: 2.0rem 0;
                }
            }
        }
    
        #contents__skills__wrap{
            display: flex;
            flex-wrap: wrap;
            width: 90%;
            justify-content: space-between;
            margin: 8.2rem auto 7.0rem auto;
        
    
            .contents__skills {
                display: flex;
                width: 46%;
                margin-bottom: 1.2rem;
                align-items: center;
    
                img {
                    width: 15%;
                    margin-right: 0.8rem;
                }
    
                .skills__titles {
                    width: 100%;
    
                    .skills__skilleach {
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 0.7rem;
    
                        >p {
                            font-size: 2.1rem;
                        }
                    }
        
                    .skills__wrap {
                        border: 1px solid rgb(202, 202, 202);
                        border-radius: 10px;
                        // animation: ratio80 1.5s forwards;
                        box-shadow: 0 5px 15px 0 rgba(7, 33, 66, 0.15);

                        .skills__percentage {
                            height: 1.2rem;
                            width: 30%;
                            background-color: #0DC600;
                            background-image: linear-gradient(to right,#0DC600 , #ACC6FF);
                            border-radius: 10px;

                            // animation-duration: 1.5s;
                            // animation-timing-function: ease;
                            // animation-delay: 0s;
                            // animation-iteration-count: 1;
                            // animation-direction: normal;
                            // animation-fill-mode: forwards;
                            // animation-play-state: running;
                            // .delighter {
                            //     transition: all .3s ease-out;
                            //     transform: translateX(-100%);
                            //     opacity: 0;

                            //     .started {
                            //         transform: none;
                            //         opacity: 1;

                            //         .ended {
                            //             border: solid red 10px;
                            //         }
                            //     }
                            // }
                        }

                        #percentage__html {
                            width: 80%;
                        }

                        #percentage__js {
                            width: 60%;
                        }

                        #percentage__js {
                            width: 30%;
                        }
                    }
                }
            }
        }
            
    
        .about__contents__contact {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 12.0rem 0;
    
            >p {
                font-size: 2.1rem;
                margin-right: 6.0rem;
            }
    
            .contact__info {
    
                a {
                    color: $black;
                    text-decoration: none;
                    cursor: pointer;
                
                    >p {
                        margin-bottom: 1.0rem;
                        font-size: 1.8rem;
            
                        .fas {
                            margin-right: 1.0rem;
                        }
                    }
                }
    
                a:hover{
                    color: darken($light-green, 20%);
                }
            }
        }
    }
}

