.demo-button {
  img {
    display: block;
    margin: 0 auto;
    width: 90%;
  }
  %__wrap {
    display: flex;
    width: 100%;
    a {
      text-decoration: none;
      display: block;
    }
  }
  &__wrap {
    @extend %__wrap;
    &--portfolio {
      @extend %__wrap;
      a{
        width:40%;
      }
    }
    &--demo {
      @extend %__wrap;
      justify-content: space-around;
      padding: 0 15.0rem;
      a{
        width:35%;
      }
    }
  }

  %__demo {
    border-radius: 50px;
    height: 4.2rem;
    text-align: center;
    p {
      align-items: center;
      line-height: 4.2rem;
      vertical-align: middle;
    }
  }
  &__demo{
    &--portfolio {
      @extend %__demo;
      background-color: #fff;
      margin: 5.5rem auto;
      p{
        color: #777;
        font-size: 1.5rem;
      }
    }
    &--portfolio:hover {
      background-color: #dfdfdf;
    }
    &--demo, &--github {
      @extend %__demo;
      background-color: $light-green;
      margin: 5.5rem auto 5.5rem auto;
      p {
        color: #fff;
        font-size: 1.8rem;
      }
    }
    &--demo:hover, &--github:hover {
      background-color: darken($light-green,10%);
    }
  }
}

@include mq('tab') {
  .demo-button {
    &__wrap {
      &--demo {
      padding: 0;
        a {
          width: 45%;
        }
      }
      &--portfolio{
        a {
          width: 60%;
        }
      }
    }
    &__demo, &__github {
      &--demo, &--github {
        p {
          font-size: 1.6rem;
        }
      }
    }
  }
}