.sns-icon {
  %__icon {
    margin: 3.0rem 0.5rem 0 0.5rem;
    cursor: pointer;
  }
  &__icon {
    @extend %__icon;
    &--home {
      @extend %__icon;
      a {
        font-size: 3rem;
        color: $light-green;
        margin-right: 1.5rem;
      }
    }
    &--home a:hover{
      color: darken($light-green, 20%);
    }
    &--header {
      @extend %__icon;
      text-align: center;
      a {
        font-size: 2.5rem;
        color: #fff;
        margin: 0 0.5rem;
      }
    }
    &--header a:hover{
      color: darken($light-green, 20%);
    }
  }
}

// @include mq('sp') {
//   .navbar-menu {
//     height: auto;
//     width: 100%;
//   }
// }