/*==============
    mediaquery
==============*/
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  position: relative;
  left: 8.0rem;
  margin-right: 8.0rem;
}

@media screen and (max-width: 767px) {
  body {
    position: relative;
    left: 0rem;
    margin-right: 0rem;
  }
}

.home-contents {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  scroll-snap-align: start;
}

.home-contents-otm {
  background-image: url("../../imgs/mountain.jpg");
  background-size: cover;
}

.home-contents-bm {
  background-color: #EA4E36;
  background-image: url("../../imgs/brushmap_logo_whitever.png");
  background-position: top 51% right 22%;
  background-size: 10%;
}

.home-contents-egg {
  background-position: top 51% right 22%;
  background-size: 10%;
  background-color: #ffb356;
  background-image: url("../../imgs/super_soft_boiled_egg.svg");
}

.home-contents-weather {
  background-position: top 51% right 22%;
  background-size: 10%;
  background-color: #fdf3e7;
  background-image: url("../../imgs/sunny.svg");
}

.home-contents-movie {
  background-color: #24589E;
  background-image: url("../../imgs/movie.png");
  background-position: top 51% right 22%;
  background-size: 10%;
}

.home-contents-japan {
  background-position: top 10% right 15%;
  background-image: url("../../imgs/worksinjapan_bg2.jpg");
  background-size: cover;
}

.home-contents-showcase {
  background-color: #5695c8;
  background-image: url("../../imgs/skillsshowcase_bglogo.png");
  background-position: top 51% right 22%;
  background-size: 20%;
}

.home-contents__left {
  width: 50%;
  height: 100vh;
  background-color: rgba(108, 108, 108, 0.8);
  padding: 5.0rem;
}

.home-contents__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-bottom: 0.5rem;
}

.home-contents__num {
  font-size: 5.2rem;
}

.home-contents__category {
  font-size: 1.3rem;
}

.home-contents__border {
  background-color: #fff;
  height: 1px;
  opacity: 1;
}

.home-contents__product-wrap {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin: 20vh 0;
  -webkit-animation-name: example;
          animation-name: example;
}

.home-contents__product-service {
  font-size: 2.4rem;
}

.home-contents__product-title {
  font-size: 5.0rem;
  margin: 1.0rem 0;
}

.home-contents__product-purpse {
  font-size: 2.0rem;
}

.home-contents__product-link {
  text-decoration: none;
}

.home-contents__viewdetails {
  margin-top: 3.0rem;
  width: 30%;
  color: #777;
  border-radius: 50px;
  background-color: #fff;
  height: 4.2rem;
  text-align: center;
}

.home-contents__viewdetails-text {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 4.3rem;
}

.home-contents__viewdetails:hover {
  cursor: pointer;
  background-color: #dfdfdf;
}

@media screen and (max-width: 1179px) {
  .home-contents-bm, .home-contents-egg, .home-contents-weather, .home-contents-showcase, .home-contents-movie {
    background-position: top 50% right 16%;
    background-size: 25%;
  }
  .home-contents__product-wrap {
    margin: 10vh 0;
  }
  .home-contents__product-service {
    font-size: 2.2rem;
  }
  .home-contents__product-title {
    font-size: 4.2rem;
  }
  .home-contents__product-purpse {
    font-size: 1.8rem;
  }
  .home-contents__viewdetails {
    width: 60%;
  }
}

@media screen and (max-width: 767px) {
  .home-contents-bm {
    background-position: top 51% right 35%;
    background-size: 60%;
  }
  .home-contents-egg, .home-contents-weather {
    background-position: top 51% right 35%;
    background-size: 70%;
  }
  .home-contents-showcase {
    background-position: top 51% right 22%;
    background-size: 60%;
  }
  .home-contents__left {
    width: 75%;
    padding: 8.0rem 1.5rem;
  }
  .home-contents__num {
    font-size: 3.0rem;
  }
  .home-contents__category {
    font-size: 1.3rem;
  }
  .home-contents__product-service {
    font-size: 1.6rem;
  }
  .home-contents__product-title {
    font-size: 2.7rem;
  }
  .home-contents__product-purpse {
    font-size: 1.3rem;
  }
}

.home-pagenation {
  position: fixed;
  top: 50%;
  right: 32px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.home-pagenation__link {
  display: block;
  width: 13px;
  height: 13px;
  margin: 1.3rem 0;
  border: 2px solid #fff;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.home-pagenation .active {
  background-color: #fff;
}

@media screen and (max-width: 767px) {
  .work-pagenation {
    right: 2rem;
  }
  .work-pagenation__link {
    width: 12px;
    height: 12px;
  }
}

.home-inner {
  width: 100%;
  height: 100vh;
  color: #fff;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.home-inner__head-wrap {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
  color: #222222;
  background: url(../../imgs/background_image.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right 0%;
  background-color: #fff;
  scroll-snap-align: start;
}

.home-inner__head {
  width: 100%;
  height: 100%;
  margin: 32vh 0 32vh 6.0rem;
}

.home-inner__greeting-cursor {
  border-right: 0.2rem solid #777;
}

.home-inner__greeting, .home-inner__name {
  font-size: 7.5rem;
}

.home-inner__jobtitle {
  font-size: 3.2rem;
}

@media screen and (max-width: 1179px) {
  .home-inner__head {
    margin: 32vh 0 32vh 3rem;
  }
  .home-inner__greeting, .home-inner__name {
    font-size: 5.0rem;
  }
  .home-inner__jobtitle {
    font-size: 3.0rem;
  }
}

@media screen and (max-width: 767px) {
  .home-inner__head-wrap {
    background-size: cover;
  }
  .home-inner__head {
    margin: 32vh 0 32vh 3rem;
  }
  .home-inner__greeting, .home-inner__name {
    font-size: 4rem;
  }
  .home-inner__jobtitle {
    font-size: 2.7rem;
  }
}

.about {
  width: 100%;
  height: auto;
  position: absolute;
  top: 8.0rem;
}

.about__wrap {
  width: 80%;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .about__wrap {
    width: 90%;
  }
}

.about-contents__title-wrap {
  margin: 0 auto;
  font-size: 3.2rem;
  border-bottom: 1px solid #6D7278;
  padding-bottom: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-contents__border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.about-contents__num {
  color: #41D6BB;
  font-size: 5.2rem;
  margin-right: 2.0rem;
}

@media screen and (max-width: 767px) {
  .about-contents__num {
    font-size: 3.8rem;
  }
  .about-contents__title {
    font-size: 2.5rem;
  }
}

.about-passion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 12.0rem 5.0rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-passion__wrap {
  text-align: center;
  width: 30%;
}

.about-passion__logo {
  font-size: 5.0rem;
  color: #fff;
  background-color: #222222;
  padding: 2.0rem;
  border-radius: 50%;
}

.about-passion__title {
  font-size: 2.0rem;
  margin: 2.0rem 0;
}

.about-passion__text {
  word-wrap: break-word;
}

@media screen and (max-width: 767px) {
  .about-passion {
    display: block;
    margin: 3.3rem 0 5.5rem 0;
  }
  .about-passion__wrap {
    width: 100%;
    margin-bottom: 5.0rem;
  }
}

.about-whoiam {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 12.0rem 10.0rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-whoiam__img {
  width: 30%;
  margin-right: 4.0rem;
}

.about-whoiam__name {
  margin-bottom: 0.5rem;
  font-size: 2.0rem;
  font-weight: 700;
}

.about-whoiam__text {
  word-break: break-word;
}

@media screen and (max-width: 767px) {
  .about-whoiam {
    margin: 3.3rem 0 5.5rem 0;
    display: block;
  }
  .about-whoiam__img {
    margin-right: 0;
    width: 100%;
  }
  .about-whoiam__wrap {
    margin-top: 1.0rem;
  }
}

.about-skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 8.2rem auto 7.0rem auto;
}

.about-skill__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 46%;
  margin-bottom: 2.0rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-skill__img {
  width: 12%;
  margin-right: 1.5rem;
}

.about-skill__language {
  width: 100%;
}

.about-skill__language-percentage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0.7rem;
}

.about-skill__language-percentage > p {
  font-size: 2.1rem;
}

.about-skill__percentage-line {
  border: 1px solid #cacaca;
  border-radius: 10px;
  width: 100%;
  -webkit-box-shadow: 0 5px 15px 0 rgba(7, 33, 66, 0.15);
          box-shadow: 0 5px 15px 0 rgba(7, 33, 66, 0.15);
}

.about-skill__percentage-html, .about-skill__percentage-js, .about-skill__percentage-react, .about-skill__percentage-sketch, .about-skill__percentage-sass, .about-skill__percentage-ps, .about-skill__percentage-ai, .about-skill__percentage-pr, .about-skill__percentage-af {
  height: 1.2rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#0DC600), to(#ACC6FF));
  background-image: linear-gradient(to right, #0DC600, #ACC6FF);
  border-radius: 10px;
  opacity: 0;
}

@-webkit-keyframes sizeScale {
  0% {
    width: 0%;
  }
}

@keyframes sizeScale {
  0% {
    width: 0%;
  }
}

.about-skill__percentage, .about-skill__percentage--html, .about-skill__percentage--js, .about-skill__percentage--react, .about-skill__percentage--sketch, .about-skill__percentage--sass, .about-skill__percentage--ps, .about-skill__percentage--ai, .about-skill__percentage--pr, .about-skill__percentage--af {
  opacity: 1;
  -webkit-animation: sizeScale 1.5s ease;
          animation: sizeScale 1.5s ease;
}

.about-skill__percentage--html {
  width: 90%;
}

.about-skill__percentage--js {
  width: 70%;
}

.about-skill__percentage--react {
  width: 70%;
}

.about-skill__percentage--sketch {
  width: 65%;
}

.about-skill__percentage--sass {
  width: 70%;
}

.about-skill__percentage--ps {
  width: 80%;
}

.about-skill__percentage--ai {
  width: 70%;
}

.about-skill__percentage--pr {
  width: 80%;
}

.about-skill__percentage--af {
  width: 30%;
}

@media screen and (max-width: 767px) {
  .about-skill {
    margin-top: 3.3rem;
    margin-bottom: 5.5rem;
    display: block;
  }
  .about-skill__wrap {
    width: 100%;
    margin-bottom: 2.0rem;
  }
  .about-skill__img {
    width: 20%;
  }
  .about-skill__language-percentage > p {
    font-size: 1.8rem;
  }
}

.about-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 12.0rem 0;
}

.about-contact > p {
  font-size: 2.1rem;
  margin-right: 6.0rem;
}

.about-contact__list {
  list-style: none;
  margin-bottom: 1.2rem;
}

.about-contact__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #222222;
  text-decoration: none;
  cursor: pointer;
  margin: auto 0;
}

.about-contact__link .fas, .about-contact__link .fab, .about-contact__link .far {
  font-size: 2.4rem;
  margin-right: 1.0rem;
}

.about-contact__link .far {
  margin-left: 0.25rem;
}

.about-contact__link:hover {
  color: #1f927d;
}

.about-contact__info-detail {
  font-size: 1.8rem;
}

@media screen and (max-width: 767px) {
  .about-contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 4.5rem auto;
    width: 100%;
  }
  .about-contact > p {
    font-size: 2.0rem;
    margin-bottom: 2.0rem;
    margin-right: 0;
  }
  __link .fas, __link .fab, __link .far {
    font-size: 2.0rem;
  }
  __info-detail {
    font-size: 1.5rem;
  }
}

.navbar {
  width: 100%;
}

.navbar-side {
  width: 8.0rem;
  background-color: #41D6BB;
  z-index: 9999;
  border-right: 1px solid #fff;
  height: 100vh;
  position: fixed;
  left: 0;
}

.navbar-side__hamburger {
  cursor: pointer;
  margin: 47vh 2rem;
  display: block;
}

.navbar-side__bar1, .navbar-side__bar2, .navbar-side__bar3 {
  height: 5px;
  background-color: #fff;
  margin: 0.6rem 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.navbar-side__action > .navbar-side__bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.navbar-side__action > .navbar-side__bar2 {
  opacity: 0;
}

.navbar-side__action > .navbar-side__bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

@media screen and (max-width: 767px) {
  .navbar-side {
    width: 100%;
    height: 6.0rem;
    position: fixed;
    border-bottom: 1px solid #fff;
  }
  .navbar-side__hamburger {
    position: absolute;
    top: 0;
    left: 0;
    height: 4.0rem;
    margin: 1.0rem 0 1.0rem 1.2rem;
    width: 4.0rem;
    z-index: 1;
  }
}

.navbar-menu {
  -webkit-transition: 0.5s all cubic-bezier(0.87, 0.1, 0.19, 1);
  transition: 0.5s all cubic-bezier(0.87, 0.1, 0.19, 1);
  position: fixed;
  background: transparent;
  -webkit-transform: translateX(-60.5rem);
          transform: translateX(-60.5rem);
  z-index: 1;
  height: 100vh;
  content: '';
}

.navbar-menu__wrap {
  background-color: #41D6BB;
  width: 18vw;
  height: 100vh;
  padding: 35vh 0 40vh 1.0rem;
  max-width: 450px;
  position: relative;
}

.navbar-menu__page-list-wrap {
  text-align: center;
}

.navbar-menu__page-tab {
  font-size: 1.8rem;
  margin-bottom: 1.0rem;
}

.navbar-menu__page-tab a {
  color: #fff;
  text-decoration: none;
}

.navbar-menu__page-tab a:hover {
  color: #1f927d;
}

.navbar-menu__icon {
  text-align: center;
}

.navbar-menu__icon .fab {
  color: #fff;
  font-size: 2.5rem;
  margin: 3.0rem 0.5rem 0 0.5rem;
  cursor: pointer;
}

.navbar-menu__icon .fab:hover {
  color: #1f927d;
}

.navbar-open {
  -webkit-transform: translateX(0rem);
          transform: translateX(0rem);
  -webkit-transition: 0.5s all cubic-bezier(0.87, 0.41, 0.19, 1);
  transition: 0.5s all cubic-bezier(0.87, 0.41, 0.19, 1);
  display: block;
}

@media screen and (max-width: 1179px) {
  .navbar-menu__page-tab {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 767px) {
  .navbar-menu {
    height: auto;
    width: 100%;
  }
  .navbar-menu__wrap {
    width: 100%;
    height: auto;
  }
  .navbar-menu__page-tab {
    font-size: 1.8rem;
  }
}

.work-details {
  width: 100%;
  height: auto;
  position: absolute;
}

.work-details__contents {
  width: 60%;
  margin: 0 auto 5.0rem auto;
}

.work-details__title {
  margin: 4.0rem 0 5.5rem 0;
  text-align: center;
  padding-bottom: 0.7rem;
  border-bottom: 1px solid #222222;
  font-size: 3.0rem;
}

.work-details__app-name {
  margin: 7.0rem 0 2.0rem 0;
}

.work-details__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 1.5rem 0;
}

.work-details__description-right p, .work-details__description-left p {
  font-size: 1.6rem;
  margin-bottom: 1.8rem;
}

.work-details__description-right p span, .work-details__description-left p span {
  font-size: 1.3rem;
  display: block;
  margin-bottom: 0.5rem;
  color: #6C6C6C;
}

.work-details__description-right {
  width: 60%;
  word-break: break-word;
}

.work-details__description-left {
  width: 30%;
  margin-right: 10%;
}

.work-details__demo img {
  display: block;
  margin: 0 auto;
  width: 90%;
}

.work-details__demo-btn-wrap {
  padding: 0 15.0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.work-details__demo-btn-wrap a {
  text-decoration: none;
  color: #fff;
  display: block;
  width: 35%;
}

.work-details__demo-btn, .work-details__github-btn {
  background-color: #41D6BB;
  border-radius: 50px;
  height: 4.2rem;
  margin: 5.5rem auto 5.5rem auto;
  text-align: center;
}

.work-details__demo-btn p, .work-details__github-btn p {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 2.0rem;
  line-height: 4.2rem;
  vertical-align: middle;
}

.work-details__demo-btn:hover, .work-details__github-btn:hover {
  background-color: #28bca1;
}

@media screen and (max-width: 1179px) {
  .work-details__demo-btn-wrap {
    padding: 0 6.0rem;
  }
  .work-details__demo-btn-wrap a {
    width: 45%;
  }
  .work-details__demo-btn p, .work-details__github-btn p {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 767px) {
  .work-details {
    margin-top: 7rem;
  }
  .work-details__contents {
    width: 90%;
  }
  .work-details__description {
    display: block;
  }
  .work-details__description-right, .work-details__description-left {
    width: 100%;
  }
  .work-details__demo-btn-wrap {
    padding: 0;
  }
}

.work-back-btn {
  position: relative;
  bottom: 8%;
  right: 4%;
  position: fixed;
}

.work-back-btn__wrap {
  background-color: #41D6BB;
  width: 7.0rem;
  height: 7.0rem;
  border-radius: 100%;
  cursor: pointer;
  z-index: 5;
}

.work-back-btn__wrap > span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 8px;
  margin: -6px 0 0;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.work-back-btn__wrap > span:last-child {
  margin: -1px 0 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.work-back-btn__wrap:hover {
  background-color: #28bca1;
}

@media screen and (max-width: 767px) {
  .work-back-btn {
    bottom: 4%;
    right: 5%;
  }
  .work-back-btn__wrap {
    width: 6.0rem;
    height: 6.0rem;
  }
}

.work-page-btn {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  width: 15.0rem;
  position: -webkit-sticky;
  position: sticky;
  bottom: 9vh;
}

.work-page-btn__page, .work-page-btn__page--prev, .work-page-btn__page--next {
  font-size: 1.3rem;
  color: #6D7278;
  position: relative;
  cursor: pointer;
  text-decoration: none;
}

.work-page-btn__page--prev {
  margin-right: 1.0rem;
}

.work-page-btn__page--prev .fas {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.work-page-btn__page--next .fas {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.work-page-btn__page:hover, .work-page-btn__page--prev:hover, .work-page-btn__page--next:hover {
  color: #28bca1;
}

@media screen and (max-width: 767px) {
  .work-page-btn {
    display: none;
  }
}

.work-design-color {
  margin-top: 6rem;
}

.work-design-color__title {
  color: #6D7278;
}

.work-design-color__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 8.0rem auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.work-design-color__details {
  margin: 0 2.0rem;
}

.work-design-color__details p {
  text-align: center;
  padding-top: 0.6rem;
  font-size: 1.6rem;
}

.work-design-color__palet {
  width: 150px;
  height: 60px;
  margin-bottom: 0.6rem;
}

.work-design-color #palet1_bm {
  background-color: #EA4E38;
}

.work-design-color #palet2_bm {
  background-color: #222222;
}

.work-design-color #palet3_bm {
  background-color: #EAEAEA;
}

.work-design-color #palet1_egg {
  background-color: #FFB356;
}

.work-design-color #palet2_egg {
  border: 1px solid #eaeaea;
  background-color: #FFFFFF;
}

.work-design-color #palet3_egg {
  background-color: #BA4700;
}

.work-design-color #palet1_weather {
  background-color: #FFF3E6;
}

.work-design-color #palet2_weather {
  background-color: #636363;
}

.work-design-color #palet1_movie {
  background-color: #23589E;
}

.work-design-color #palet2_movie {
  background-color: #C71585;
}

.work-design-color #palet3_movie {
  background-color: #222222;
}

@media screen and (max-width: 767px) {
  .work-design-color__wrap {
    display: block;
    width: 100%;
    margin: 5.0rem auto;
  }
  .work-design-color__details {
    margin-bottom: 3.0rem;
  }
  .work-design-color__palet {
    width: 162px;
    margin: 0 auto;
    margin-bottom: 0.6rem;
  }
}

.work-design-typo {
  margin-top: 6rem;
}

.work-design-typo__title {
  color: #6D7278;
}

.work-design-typo__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 8.0rem auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.work-design-typo__details {
  text-align: center;
  margin: 0 2rem;
}

.work-design-typo__ex {
  font-size: 3.5rem;
  margin-bottom: 0.6rem;
}

.work-design-typo__font-name {
  display: block;
}

.work-design-typo #font_helvetica {
  font-family: "Helvetica Neue","Helvetica","Arial",sans-serif;
}

.work-design-typo #font_rockwell {
  font-family: "Rockwell","Courier Bold","Courier","Georgia","Times","Times New Roman",serif;
}

.work-design-typo #font_futura {
  font-family: "Futura";
}

.work-design-typo #font_montserrat {
  font-family: "Montserrat",sans-serif;
}

.work-design-typo #font_gillsans {
  font-family: "Gill Sans",sans-serif;
}

@media screen and (max-width: 767px) {
  .work-design-typo__wrap {
    display: block;
    width: 100%;
  }
  .work-design-typo__details {
    margin-bottom: 3.0rem;
  }
}

.work-design-img {
  margin-top: 5rem;
}

.work-design-img__wrap {
  margin-bottom: 5.0rem;
}

.work-design-img__wrap p {
  margin-bottom: 2.0rem;
}

.work-design-img__wrap-img {
  width: 100%;
}

.work-design-img__wrap-img--right {
  margin-right: 2rem;
}

.work-design-img__page {
  color: #6D7278;
}

.work-design-img__responsive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.work-design-img__otm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.work-design-img__otm-img {
  border: 1.5px solid #cacaca;
  margin: 0.8rem 0.5rem;
  width: 23%;
}

.work-design-img__prev-work {
  display: table-row;
}

.work-design-img__prev-work-img {
  width: 32%;
  margin: 0.4rem;
}

.work-design-img__hangyoball img {
  display: block;
  margin: 0 auto;
  width: 70%;
}

.work-design-img__beyond {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.work-design-img__wrap--right {
  margin-right: 2rem;
}

@media screen and (max-width: 1179px) {
  .work-design-img__prev-work-img {
    width: 48%;
  }
}

@media screen and (max-width: 767px) {
  .work-design-img__responsive {
    display: block;
  }
  .work-design-img__otm {
    display: table-row;
  }
  .work-design-img__otm-img {
    width: 100%;
    margin: 1.0rem 0;
  }
  .work-design-img__prev-work-img {
    width: 100%;
  }
  .work-design-img__hangyoball img {
    width: 100%;
    height: auto;
  }
}

.work-design-logo {
  margin-top: 6rem;
}

.work-design-logo__title {
  color: #6D7278;
}

.work-design-logo__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 8.0rem auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.work-design-logo__wrap img {
  width: 30%;
}

.work-design-logo__img-left {
  margin-right: 9.0rem;
}

@media screen and (max-width: 767px) {
  .work-design-logo__wrap {
    display: block;
    width: 100%;
    margin: 5.0rem auto;
  }
  .work-design-logo__wrap img {
    width: 70%;
    margin: 0 auto 3.0rem auto;
    display: block;
  }
}

.work-back-btn {
  position: relative;
  bottom: 8%;
  right: 4%;
  position: fixed;
}

.work-back-btn__wrap {
  background-color: #41D6BB;
  width: 7.0rem;
  height: 7.0rem;
  border-radius: 100%;
  cursor: pointer;
  z-index: 5;
}

.work-back-btn__wrap > span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 8px;
  margin: -6px 0 0;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.work-back-btn__wrap > span:last-child {
  margin: -1px 0 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.work-back-btn__wrap:hover {
  background-color: #28bca1;
}

@media screen and (max-width: 767px) {
  .work-back-btn {
    bottom: 4%;
    right: 5%;
  }
  .work-back-btn__wrap {
    width: 6.0rem;
    height: 6.0rem;
  }
}

.navbar-menu {
  -webkit-transition: 0.5s all cubic-bezier(0.87, 0.1, 0.19, 1);
  transition: 0.5s all cubic-bezier(0.87, 0.1, 0.19, 1);
  position: fixed;
  background: transparent;
  -webkit-transform: translateX(-60.5rem);
          transform: translateX(-60.5rem);
  z-index: 1;
  height: 100vh;
}

.navbar-menu__icon {
  text-align: center;
}

.navbar-menu .navbar-menu__icon-sns, .navbar-menu .navbar-menu__icon-sns--home, .navbar-menu .navbar-menu__icon-sns--header {
  font-size: 2.5rem;
  margin: 3.0rem 0.5rem 0 0.5rem;
  cursor: pointer;
}

.navbar-menu__icon-sns--home {
  color: #41D6BB;
}

.navbar-menu__icon-sns--home:hover {
  color: #1f927d;
}

.navbar-menu__icon-sns--header {
  color: #fff;
}

.navbar-menu__icon-sns--header:hover {
  color: #1f927d;
}

@media screen and (max-width: 767px) {
  .navbar-menu {
    height: auto;
    width: 100%;
  }
}
/*# sourceMappingURL=styles.css.map */